.card {
	margin-bottom: 10px;
}

.todos {
	max-width: 60%;
}

.submit-todo-form {
	padding-top: 20px;
}

.input {
	margin-right: 5px;
}

.what-would-you {
  padding-top: 80px;
  padding-bottom: 10px;
}

.navbar-brand {
  padding-left: 8px;
}
